@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.slideBottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



.background{
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%)
}

.head-text {
  @apply text-xs text-[#1C1F35] font-Rubik font-normal border-l-4 border-l-[#FFB629] px-2
}

.header-text{
  @apply font-Rubik text-2xl lg:text-3xl text-[#1C1F35] font-semibold
}

.para{
  @apply font-Krub text-[#666C89] font-medium text-sm lg:text-base
}

.icon {
  @apply background w-8 h-8 p-2 rounded-full
}
  
.icon-text {
  @apply text-base md:text-lg font-Rubik font-normal
}

