@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;

}

body {
  background-color: #091242;
}

.background{
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}


  